.menu-button 
    span.las.la-bars#btn__open 
.sidebar#sidebar 
    .sidebar__brand 
        span.las.la-times#btn__close 
    .sidebar__content 
        ul.lists 
            li 
                a(href="/") Home 
            li 
                a(href="/") Services
            li 
                a(href="/") About Us
            li 
                a(href="/") Contact






