extends base
block content 
        .main__content 
            .cards 
                a(href="/blog")
                    .cards__image 
                         img(src="/img/job.svg", alt="")
                    .card__title Job 
            .cards 
                a(href="/blog")
                    .cards__image 
                         img(src="/img/shirt.svg", alt="")
                    .card__title Shirt printing 
            .cards 
                a(href="/blog")
                    .cards__image 
                        img(src="/img/laptop.svg", alt="")
                    .card__title Hardware 
            .cards 
                a(href="/blog")
                    .cards__image 
                        img(src="/img/card.svg", alt="")
                    .card__title License 
            .cards 
                a(href="/blog")
                    .cards__image 
                        img(src="/img/print.svg", alt="")
                    .card__title Printing 
            .cards 
                a(href="/blog")
                    .cards__image 
                        img(src="/img/banner.svg", alt="")
                    .card__title Bannner printing 
            .cards 
                a(href="/blog")
                    .cards__image 
                        img(src="/img/auto.svg", alt="")
                    .card__title Vehicle
            .cards 
                a(href="/blog")
                    .cards__image 
                        img(src="/img/cctv.svg", alt="")
                    .card__title CCTV install 
            .cards 
                a(href="/blog")
                    .cards__image 
                        img(src="/img/cup.svg", alt="")
                .card__title Cup printing 
            .cards 
                a(href="/blog")
                    .cards__image 
                        img(src="/img/doc.svg", alt="")
                    .card__title Get documents 





