@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap");
:root {
  --color-primary: #6FEDD6;
  --color-secondary: #B9FFF8;
  --color-bg: #F9F5EB;
  --color-font-primary: #80558C;
  --color-font-secondary: #af7ab3c5;
  --color-bg: #FCF8E8 ;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--color-bg);
}

.menu-button {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  font-size: 3rem;
  z-index: 10;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.menu-button:hover {
  background-color: gray;
  color: #fff;
}

.sidebar {
  width: 24rem;
  background-color: rgb(255, 198, 196);
  height: 100%;
  position: fixed;
  z-index: 100;
  left: -24rem;
  top: 0;
  transition: all 0.4s ease;
}
.sidebar__brand {
  height: 7rem;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  font-size: 3rem;
  padding-right: 1rem;
  border-bottom: 1px solid gray;
}
.sidebar__brand span {
  cursor: pointer;
}
.sidebar__brand span:hover {
  padding: 0.5rem 0.5rem;
  background-color: gray;
  color: #fff;
  border-radius: 50%;
}
.sidebar__content {
  width: 100%;
  height: calc(100% - 6rem);
}
.sidebar__content .lists {
  width: 100%;
  height: 100%;
}
.sidebar__content .lists li {
  list-style: none;
  font-size: 2rem;
  display: block;
  padding: 1.5rem 1rem;
  transition: all 0.4s ease;
  color: var(--color-font-secondary);
}
.sidebar__content .lists li:hover {
  border-left: 0.5rem solid var(--color-primary);
}
.sidebar__content .lists li a {
  list-style: none;
  text-decoration: none;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  color: var(--color-font-primary);
}

.section {
  width: 100%;
  height: 100%;
}
.section .header {
  width: 100%;
  height: 7rem;
  box-shadow: -0.3rem 0.4rem 0.4rem rgba(128, 128, 128, 0.377);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.section .header .logo {
  width: 20rem;
  height: 5rem;
}
.section .main {
  height: calc(100% - 7rem);
  width: 100%;
}
.section .main__content {
  padding: 2rem 2rem;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
}
.section .main__content .cards {
  border-radius: 2rem;
  border: 0.2rem solid rgba(128, 128, 128, 0.089);
  height: 15rem;
  max-width: 15rem;
  box-shadow: -0.3rem 0.4rem 0.4rem rgba(128, 128, 128, 0.377);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: moveup 2s ease;
          animation: moveup 2s ease;
  margin-top: 1.5rem;
}
.section .main__content .cards:hover {
  margin-top: -0.5rem;
}
.section .main__content .cards:active {
  padding-top: 1rem;
}
.section .main__content .cards__image {
  height: 60%;
  width: 100%;
  margin-bottom: 1rem;
}
.section .main__content .cards__image img {
  height: 90%;
  width: 100%;
  margin-top: -1rem;
}
.section .main__content .cards__title {
  height: 40%;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
}
.section .main__container {
  margin: 5rem 10rem 0 10rem;
  display: grid;
  grid-template-columns: 85% auto;
}
.section .main__container .blog {
  margin-right: 3rem;
  -webkit-animation: moveup 1s ease;
          animation: moveup 1s ease;
}
.section .main__container .blog__header .category {
  display: flex;
}
.section .main__container .blog__header .category h2 {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: #000;
  border-radius: 1rem;
  font-size: 2rem;
}
.section .main__container .blog__header .heading {
  font-size: 3rem;
  margin: 1rem 0;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}
.section .main__container .blog__header .author {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
}
.section .main__container .blog__image {
  margin: 1rem 0;
}
.section .main__container .blog__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.section .main__container .blog__content {
  font-size: 1.9rem;
}
.section .main__container .blog__content p {
  margin: 1rem 1rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}
.section .main__container .aside .trending__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
  font-size: 1.4rem;
}
.section .main__container .aside .trending__contents {
  margin-top: 1rem;
}
.section .main__container .aside .trending__contents li {
  list-style: node;
  margin: 1rem 0;
  font-size: 1.3rem;
  cursor: pointer;
}
.section .main__container .aside .trending__contents li a {
  text-decoration: none;
}

@-webkit-keyframes moveup {
  0% {
    transform: translateY(20rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveup {
  0% {
    transform: translateY(20rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 820px) {
  .section .main__content {
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
  }
  .section .main__container {
    margin: 2rem 4rem 0 4rem;
  }
}
@media screen and (max-width: 414px) {
  html {
    font-size: 58.5%;
  }
  .section .main__content {
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .section .main__container {
    margin: 1rem 2rem 0 2rem;
  }
}
@media screen and (max-width: 350px) {
  .section .main__content {
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .section .main__content .cards {
    margin-top: 1.5rem;
  }
  .section .header .logo {
    width: 12rem;
    height: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .section .main__container {
    display: grid;
    grid-template-columns: 100%;
  }
  .section .main__container .aside {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */